<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href= {% static "css/styles.css" %}>
        {% comment %} <link href= {% static "css/styles.css" rel="stylesheet" %} /> {% endcomment %}


        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
    </head>
    
    
    <body>
    
        <div class="sidenav">
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src={% static 'assets/img/img.jpg' %} alt="" /></span>
            {% comment %} <p> Jasneet Dua</p> {% endcomment %}
            
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    {% comment %} <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li> {% endcomment %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#Certification">Certification</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Projects</a></li>

                </ul>
        </div>
       
       <div class="main">
            <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0" style="color: saddlebrown;">Jasneet Dua</h1>
                    <div class="subheading mb-5"   style="color: cadetblue;">C.B Ganj , Bareilly · (+91) 9997563959 · <a href="mailto:name@email.com">jasneetdua96@gmail.com</a></div>
                </div>
            </section>
            <div class="about-summary">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                <span>Hands-on experience in Visualforce Pages and server-side controllers to meet the business requirements.</span>
            </div>
            <div class="about-summary">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                <span>Hands-on experience in lightining Components (i.e. Aura Framework & Lightening Web Components).</span>
            </div>
            <div class="about-summary">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                <span>Expertise in Frontend-Development.</span>
            </div>
            <div class="about-summary">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                <span>Good exposer of Handling Files.</span>
            </div>
            <div class="about-summary">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                <span>Hands-on experience in Migrating Salesforce Classic to lightning Platform.</span>
            </div>
            <div class="about-summary">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                <span>Good exposer of Data Migration.</span>
            </div>
            <div class="about-summary">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                <span>Strong experience in Sales and Service Cloud.</span>
            </div>
            <div class="about-summary">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                <span>Hands-on experience in consuming as well as developing API's for REST & SOAP.</span>
            </div>
            <div class="about-summary">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                <span>Experience of Packaging and AppExchange Products.</span>
            </div>
            <div class="about-summary">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                <span>  Strong hands on JavaScript and jQuery. Good exposure of API imlementation.</span>
            </div>
            <div class="about-summary">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                <span>  An effective communicator with strong analytical, interpersonal and problem-solvem skills.</span>
            </div>
            <div class="about-summary">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                <span>  Good Expertise in developing solutions for givem technical specifications.</span>
            </div>
            <div class="about-summary">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                <span>  Good team build quality , assited and mentored teams in groups and on an individual basis.</span>
            </div>
  
            <hr class="m-2" /> 
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 style="color: saddlebrown;">Work Experience</h2>
                        <div class="experience">
                            <p>Employer <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <span class="details"> Techila Global Services <span></p>
                        </div> <div class="experience">
                            <p>Duration <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <span class="details"> December 2018 - Present <span></p>
                        </div>
                         <div class="experience">
                            <p>Job Title <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <span class="details"> Sr. Full Stack Developer <span></p>
                        </div>
                         <div class="experience">
                            <p>Employer <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <span class="details"> Wiz Devel <span></p>
                        </div>
                         <div class="experience">
                            <p>Duration <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <span class="details"> August 2018 - November 2018 <span></p>
                        </div>
                        <div class="experience">
                            <p>Job Title <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <span class="details"> Full Stack Developer <span></p>
                        </div>
                </div>
            </section>
                        <hr class="m-2" /> 

            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5" style="color: saddlebrown;">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
                        <div class="flex-grow-1">
                            <h5 class="mb-0 details" >Dr. APJ Abdul Kalam Technical University , Lucknow</h5>
                            <div class="subheading mb-2 details">Bachelor of Technology in Computer Science</div>
                            <p class="details">Percentage - 77% </p>
                        </div>
                        <div class="flex-shrink-0"><span class="experience">June 2014 - May 2018</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
                        <div class="flex-grow-1">
                            <h5 class="mb-0 details">Florence Nightangle Public School , Badaun, UP</h5>
                            <div class="subheading mb-2 details">Intermediate</div>
                            <p class="mb-3 details">Percentage - 57% </p>
                        </div>
                        <div class="flex-shrink-0"><span class="experience">April 2013 - March 2014</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h5 class="mb-0 details" >Florence Nightangle Public School, Badaun , UP</h5>
                            <div class="subheading mb-2 details">Senior Secondary Education</div>
                            <p class="details">Percentage - 77% </p>
                        </div>
                        <div class="flex-shrink-0"><span class="experience">April 2011 - March 2012</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" /> 
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5" style="color: saddlebrown;">Skills</h2>
                    <div class="col-md-12">
                        <input type="button" class="skills" value="APEX" style="background-color: darkcyan;color: lightcyan;margin: 5px 50px;">
                        <input type="button" class="skills" value="VisualForce" style="background-color: darkcyan;color: lightcyan;margin: 5px 50px;">
                        <input type="button" class="skills" value="LWC" style="background-color: darkcyan;color: lightcyan;margin: 5px 50px;">
                        <input type="button" class="skills" value="Aura" style="background-color: darkcyan;color: lightcyan;margin: 5px 50px;">
                        <input type="button" class="skills" value="HTML" style="background-color: darkcyan;color: lightcyan;margin: 5px 50px;">
                   </div>
                   <div class="col-md-12">
                        <input type="button" class="skills" value="CSS" style="background-color: darkcyan;color: lightcyan;margin: 5px 50px;">
                        <input type="button" class="skills" value="ECMAScript" style="background-color: darkcyan;color: lightcyan;margin: 5px 50px;">
                        <input type="button" class="skills" value="jQuery" style="background-color: darkcyan;color: lightcyan;margin: 5px 50px;">
                        <input type="button" class="skills" value="REST" style="background-color: darkcyan;color: lightcyan;margin: 5px 50px;">
                        <input type="button" class="skills" value="SOAP" style="background-color: darkcyan;color: lightcyan;margin: 5px 50px;">
                    </div>
                    <div class="col-md-12">
                        <input type="button" class="skills" value="API integration" style="background-color: darkcyan;color: lightcyan;margin: 5px 50px;">
                        <input type="button" class="skills" value="AJAX" style="background-color: darkcyan;color: lightcyan;margin: 5px 12px;">
                        <input type="button" class="skills" value="Data Migration" style="background-color: darkcyan;color: lightcyan;margin: 5px 30px;">
                        <input type="button" class="skills" value="Data Loader" style="background-color: darkcyan;color: lightcyan;margin: 5px 12px;">
                        <input type="button" class="skills" value="Dataloader.io" style="background-color: darkcyan;color: lightcyan;margin: 5px 20px;">
                    </div>
                    <div class="col-md-12">
                        <input type="button" class="skills" value="File Handling" style="background-color: darkcyan;color: lightcyan;margin: 5px 50px;">
                        <input type="button" class="skills" value="Postman" style="background-color: darkcyan;color: lightcyan;margin: 5px 0px;">
                        <input type="button" class="skills" value="Git/Github" style="background-color: darkcyan;color: lightcyan;margin: 5px 65px;">
                        <input type="button" class="skills" value="AppExchange" style="background-color: darkcyan;color: lightcyan;margin: 5px -20px;">
                        <input type="button" class="skills" value="SFDX" style="background-color: darkcyan;color: lightcyan;margin: 5px 112px;">
                    </div>
                    <div class="col-md-12 mb-2">
                        <input type="button" class="skills" value="Copado" style="background-color: darkcyan;color: lightcyan;margin: 5px 50px;">
                        <input type="button" class="skills" value="VS Code" style="background-color: darkcyan;color: lightcyan;margin: 5px 45px;">
                        <input type="button" class="skills" value="Docusign" style="background-color: darkcyan;color: lightcyan;margin: 5px 18px;">
                        <input type="button" class="skills" value="Salesforce Communities" style="background-color: darkcyan;color: lightcyan;margin: 5px 5px;">
                        <input type="button" class="skills" value="ANT" style="background-color: darkcyan;color: lightcyan;margin: 5px 40px;">
                    </div>
            </section>
            <hr class="m-0" /> 
            <section class="resume-section" id="Certification">
                <div class="resume-section-content">
                    <h2 class="mb-5" style="color: saddlebrown;">Awards & Certifications</h2>
                    <ul class="fa-ul mb-1">
                        <li>
                            <i class="fa fa-trophy mb-3" aria-hidden="true" style="color: darkcyan;font-size: 22px;"><span style="color: dimgrey;margin-left: 25px;">Salesforce Certified Platform Developer 1  (March 2020)</i>
                        </li>
                        <li>
                            <i class="fa fa-trophy" aria-hidden="true" style="color: darkcyan;font-size: 22px;"><span style="color: dimgrey;margin-left: 25px;">Copado Certified Adminstrator  (May 2020)</i>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="resume-section" id="projects">
                <div class="resume-section-content">
                    <h2 class="mb-5" style="color: saddlebrown;">Projects</h2>
                    <div class= "project-heading mb-3" style="color: cadetblue;font-size: 25px;">
                        1. <u> Wiley Education Service : </u>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Requirement gathering, Sprint Planning , Solution Design, and Deployment.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Worked on creating UI and backend of the project.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Built Student Journey Portal on customer community using LWC.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Whole Student Journey Plattform is configured from Backend.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Implemented the functionality to configure and change the UX of the application platform from Backend/</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>used GitHub for Version controlling</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Daily Standup meeting with offshore team, and developmet of stories.</span>
                    </div>
                    <div class="about-summary mb-4">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Offshore team assitance.</span>
                    </div>
                    <div class= "project-heading mb-3" style="color: cadetblue;font-size: 25px;">
                        2. <u> Redpayments : </u>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Daily Srum with offshore team , requirement gathering, discussed solutions with team.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Implementing the requirement and worked on different modules.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Developing multiple UI pages as a part of project to store data.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Worked on Dropbox Integration functionality.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span> Stored data efficiently in backend to avoid redundancy</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Performed Data Migration using data loader client application.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Deployment and after live support.</span>
                    </div>
                    <div class="about-summary mb-2">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Integrated DocuSign with the application.</span>
                    </div>

                    <div class= "project-heading mb-3" style="color: cadetblue;font-size: 25px;">
                        3. <u> External Storage (Product) : </u>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Requirement gathering, Solution Design, and implementations.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Designing dynamic UI of the project in the initial phase.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Worked on developimg various configurations vf-pages as per requirements</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Perform integration with Google drive, Dropbox , Box and Amazon S3.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span> Created lightining component to show file preview for variety of file extensions.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Implemented Lightening Components to upload file to third parties via JavaScript to avoid Salesforce limitations.</span>
                    </div>
                    <div class="about-summary mb-2">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Perform Chunk encoding to handle file of all size.</span>
                    </div>
                   
                   <div class= "project-heading mb-3" style="color: cadetblue;font-size: 25px;">
                        4. <u> Maildo (Product) : </u>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Requirement gathering, Solution design.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Working on creating UI and backend of the project.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Perform Integrations with Send Grid to perform bulk mailimg with files attachment.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Working with Complex trigger and Batch operations.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Implemented custom mail composer to compose mail efficiently within platform.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Writing test classes.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span> Packaging and releases.</span>
                    </div>
                    <div class="about-summary mb-2">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Version Control.</span>
                    </div>

                    <div class= "project-heading mb-3" style="color: cadetblue;font-size: 25px;">
                        5. <u> Ecoteam : </u>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Requirement gathering , Solution design and implementtion.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Perform notes generation in Pes Routes Platform bases on the records.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>perform both way integrations in between salesforce and pest routes platform.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Perform real time Syncing of records between the platforms.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Solve various specifications in optimal approach.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Calls with client for discussing changes and demo.</span>
                    </div>
                    

                    
                    

                    <div class= "project-heading mb-3" style="color: cadetblue;font-size: 25px;">
                        6. <u> Word to PDF (Product) : </u>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Requirement gathering, Solution design.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Working on creating UI and backend of the project.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Solve the challenge to handle .docx files and converted into pdfs. </span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Perform daa merging in docx files and converted into pdfs..</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Implemented Node API application , to perform functionality for backend prcesses.</span>
                    </div>
                    <div class="about-summary mb-2">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Implemented Sockets for live syncing of process between the salesforce platform and node server.</span>
                    </div>
                    

                    <div class= "project-heading mb-3" style="color: cadetblue;font-size: 25px;">
                        7. <u> Salesforce checkup : </u>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Requirement gathering , Solution design .</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Worked on implementing API for programming mistake detection.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Implemented functionality to show the redundant code snippets across the files.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Code Review , Team Leading and Assistance.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Code optiomization to handle large requests.</span>
                    </div>
                    <div class="about-summary mb-2">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Deployment.</span>
                    </div>

                    <div class= "project-heading mb-3" style="color: cadetblue;font-size: 25px;">
                        8. <u> Factor finder : </u>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Requirement gathering , Solution design .</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Developed various modules like invite funder , offer making , submission and getting UW document.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Working on Creating UI and Backend of the project.</span>
                    </div>
                    <div class="about-summary">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span>Deployment and post deployment support.</span>
                    </div>

                    <div class="row">
            {% for item in projects %}
                        <div class="card" style="width: 18rem;">
                            <a href="{{ item.get.absolute.url }}"><img class="card-img-top" src="{{ item.image.url }}" alt="Card image cap"></a>
                            <div class="card-body">
                                <h5 class="card-title">{{ item.title }}</h5>
                                <p class="card-text">{{  item.description|truncatechars:50 }}</p>
                                {% if item.url %}
                                    <a href="{{ item.url }}" class="btn btn-primary"> Check website</a>
                                {% endif %}
                            </div>
                        </div>
                </div>
            {% endfor %}
            </div>
            </section>
            <hr class="m-0" /> 
  
  
  
  
  
       
       </div>
    </body>
</html>




















































































































       
       